# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android related
**/android/local.properties
**/android/.gradle
**/android/app/build
**/android/key.properties

# iOS related
**/ios/.generated/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/ephemeral/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Podfile.lock
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcworkspace/xcuserdata/

# Windows related
windows/flutter/ephemeral/
windows/native_lib/build/
*.dll
*.exe
*.exp
*.lib
*.pdb
*.obj
*.o
*.a
*.so
*.dylib

# Visual Studio related
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*.ncb

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
android/build/

# macOS/Xcode related
**/macos/.symlinks/
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Podfile.lock
**/macos/Runner.xcodeproj/xcuserdata/
**/macos/Runner.xcworkspace/xcuserdata/
DerivedData/
*.xcuserstate
